@font-face {
  font-family: "AgencyFBCondensed";
  src: url("../fonts/AgencyFBBoldCondensed.ttf");
}
@font-face {
  font-family: "UniversCondensedLight";
  src: url("../fonts/Univers-CondensedLight.otf");
}
@font-face {
  font-family: "UniversLight";
  src: url("../fonts/Univers-Light.otf");
}
@font-face {
  font-family: "Univers";
  src: url("../fonts/Univers.otf");
}

.psychedelic {
  background-color: #274e13;
}
.dissociative {
  background-color: #20124d;
}
.stimulant {
  background-color: #660000;
}
.depressant {
  background-color: #073763;
}
.antidepressant {
  background-color: #783f04;
}

.safe {
  background-color: #31b149;
}
.synergy {
  background-color: #1d6a2b;
}
.decrease {
  background-color: #006cb3;
}
.caution {
  background-color: #d5c625;
}
.unsafe {
  background-color: #d98427;
}
.dangerous {
  background-color: #d12128;
}
.serotoninsyndrome {
  background-color: #684099;
}
.unknown {
  background-color: #6f6f6f;
}

html {
  font-size: 16px;
  width: 3800px;
  height: 1600px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  position:  relative;
  background-color: #000000;
  width: 100%;
  height: 100%;
}
#status {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 2%;
  right: 3%;
  color: #757575;
  font-size: 1.4rem;
  text-align: right;
  font-weight: 700;
}

header {
  display: table;
  padding-top: 0.5%;
  width: 95%;
  height: 15%;
  max-height: 15%;
  margin: 0 auto;
}
#logo, #legend {
  display: table-cell;
  min-width: 30%;
  width: 30%;
}
#logo img {
  max-height: 40%;
}
#title {
  position: relative;
  bottom: 4%;
  font-family: 'AgencyFBCondensed', 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 9rem;
  text-align: center;
  display: table-cell;
  width: 40%;
  vertical-align: middle;
}
#legend {
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}
#legend table {
  width: 70%;
  color: black;
  font-weight: 500;
  margin-left: auto;
  text-align: center;
  table-layout: fixed;
}
#legend i {
  color: white;
}


#chart {
  font-family: 'Open Sans', 'Univers', 'Open Sans', sans-serif;
  height: 65%;
  width: 95%;
  margin: 0 auto;
  table-layout: fixed;
}
#chart td {
  font-size: 1.1rem;
  color: #FFFFFF;
  text-align: center;
  overflow: hidden;
}


footer {
  margin: 1% auto 0;
  display: table;
  width: 95%;
  max-height: 10%;
  height: 10%;
  color: #757575;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}
footer aside {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: table-cell;
  width: 8%;
}
footer aside img {
  display: inline-block;
  width: 70%;
}
footer aside h3 {
  margin: 0;
}
#disclaimer {
  font-family: 'UniversLight', 'Open Sans', sans-serif;
  display: table-cell;
  vertical-align: top;
}
