@font-face {
  font-family: "AgencyFBCondensed";
  src: url("../fonts/AgencyFBBoldCondensed.ttf");
}
@font-face {
  font-family: "UniversCondensedLight";
  src: url("../fonts/Univers-CondensedLight.otf");
}
@font-face {
  font-family: "UniversLight";
  src: url("../fonts/Univers-Light.otf");
}
@font-face {
  font-family: "Univers";
  src: url("../fonts/Univers.otf");
}

.psychedelic {
  background-color: #274e13;
}
.dissociative {
  background-color: #20124d;
}
.stimulant {
  background-color: #660000;
}
.depressant {
  background-color: #073763;
}
.antidepressant {
  background-color: #783f04;
}

.safe {
  background-color: #35afff;
}
.synergy {
  background-color: #0a89dd;
}
.decrease {
  background-color: #006cb3;
}
.caution {
  background-color: #d5c625;
}
.unsafe {
  background-color: #d98427;
}
.dangerous {
  background-color: #d12128;
}
.unknown {
  background-color: #6f6f6f;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  overflow: hidden;
  
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
  background-color: #000000;
  padding: 0.5% 2% 0 2%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#status {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 1%;
  right: 0;
  color: #414141;
  font-size: 1.4rem;
  text-align: right;
  font-weight: 700;
}

header {
  position: relative;
  width: 100%;
  height: 13%;
}
#logo {
  position: absolute;
  max-height: 90%;
}
#title {
  font-family: 'AgencyFBCondensed', 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  transform: translateY(5%);
  font-size: 9rem;
  text-align: center;
  margin: 0 auto;
}
#legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 25%;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.legend-card {
  display: flex;
  flex: 1 1 0;
  flex-flow: column nowrap;
  align-items: center;
}
.legend-card + .legend-card{
  margin-left: 5px;
}
.legend-icon {
  flex: 1 1 0;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
}
.legend-content {
  flex: 3 3 0;
  width: 100%;
  box-sizing: content-box;
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
}


#chart {
  font-family: 'Open Sans', 'Univers', sans-serif;
  height: 65%;
  max-height: 65%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}
#chart td {
  font-size: 1.1rem;
  color: #FFFFFF;
  border-radius: 1px;
  text-align: center;
  overflow: hidden;
}

/* #chart td span {
  padding: 0 1px
}
*/

.fa {
  text-shadow: 0 0 3px black;
}

footer {
  position: relative;
  margin: 1% auto 0;
  width: 100%;
  height: 10%;
  color: #757575;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}
footer .qr {
  position: absolute;
  top: 0;
  width: 8%;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
footer .qr:last-child {
  right: 0;
}
footer .qr img {
  display: inline-block;
  width: 70%;
}
footer .qr h3 {
  margin: 0;
}
footer #disclaimer {
  font-family: 'UniversLight', 'Open Sans', sans-serif;
  width: 75%;
  margin: 0 auto;
}
