<!DOCTYPE html>
<html style="width: {{ cfg.width }}px; height: {{ cfg.height }}px;">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' type='text/css'>
    <link rel="stylesheet" href="https://use.typekit.net/ucr7myw.css">
    <link rel="stylesheet" href="{{ cfg.rel_resources_path }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ cfg.rel_resources_path }}/css/style.css">
</head>
<body>
<div id="container">
    <header>
        <img id="logo" src="{{ cfg.rel_resources_path }}/img/logo.svg" alt="logo">
        <h1 id="title">{{ cfg.translate(lang, "title") }}</h1>
    </header>
    {% include "combo-table.html" %}
    <footer>
        <div class="qr">
            <img src="{{ cfg.rel_resources_path }}/img/mobile_combo_app_qr.svg" alt="app">
            <h3>{{ cfg.translate(lang, "app") }}</h3>
        </div>
        <div id="legend">
            {% include "legend.html" %}
        </div>
        <div id="disclaimer">{% include "disclaimer-" + lang + ".html" %}</div>
        <div class="qr">
            <img src="{{ cfg.rel_resources_path }}/img/support_qr.svg" alt="support">
            <h3>{{ cfg.translate(lang, "support") }}</h3>
        </div>
    </footer>
</div>
</body>
</html>