<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' type='text/css'>
  <link rel="stylesheet" href="resources/css/font-awesome.min.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <script src="resources/js/jquery-2.2.1.min.js"></script>
  <script src="resources/js/jquery.textfill.min.js"></script>
  <script src="resources/js/script.js"></script>
</head>
<body>
  <div id="container">
    <span id="status">{{ status }}</span>
    <header>
      <div id="logo"><img src="resources/img/logo.svg" alt="logo"></div>
      <h1 id="title">{{ cfg.translate(lang, "title") }}</h1>
      <div id="legend">
        {% include "legend.html" %}
      </div>
    </header>
    {% include "combo-table.html" %}
    <footer>
      <aside>
        <img src="resources/img/app_qr.svg" alt="app">
        <h3>{{ cfg.translate(lang, "app") }}</h3>
      </aside>
      <article id="disclaimer">{% include "disclaimer-" + lang + ".html" %}</article>
      <aside>
        <img src="resources/img/support_qr.svg" alt="support">
        <h3>{{ cfg.translate(lang, "support") }}</h3>
      </aside>
    </footer>
    </div>
</body>
</html>