Tiu informo esploris de la plej povo de la TripSit teamo, kaj la maksimuma klopodo faris, ne enhavi malveran aux erariga informo. Kvankam, iuj informoj neniam eble 100% korekta.<br>
<b>Tiu mapo signifas rapida referenco, kaj aldona esploro devas cxiam fari.</b> Gxi ne estas suficxe nur konsulti cxi tiu mapo, kiam konsideratus kombinajxo. Uzu en via memrisko, kaj bonvolu provi esti sekura,.<br>
Kiam miksados drogojm, memoru amplifo, kaj komencu kun malsupraj dozoj de cxiu drogo.<br>
Por pli informo de specifaj drogoj, vizitu http://drugs.tripsit.me<br>
<h3>Novmoda informo, detaloj, klarigoj kaj referencoj eldonos en http://combo.tripsit.me</h3>