{% macro fa_label(interaction) %}
  <div class="legend-icon"><i class="fa {{ cfg.interaction_icon(interaction) }}"></i></div>
  <div class="legend-content">{{ cfg.translate_interaction(lang, interaction) }}</div>
{% endmacro %}
<table>
  <tr>
    <td class="synergy">{{ fa_label("Low Risk & Synergy") }}</td>
    <td class="safe">{{ fa_label("Low Risk & No Synergy") }}</td>
    <td class="decrease">{{ fa_label("Low Risk & Decrease") }}</td>
    <td class="caution">{{ fa_label("Caution") }}</td>
    <td class="unsafe">{{ fa_label("Unsafe") }}</td>
    <td class="dangerous">{{ fa_label("Dangerous") }}</td>
  </tr>
</table>