.psychedelic {
  background-color: #274e13;
}
.dissociative {
  background-color: #20124d;
}
.stimulant {
  background-color: #660000;
}
.depressant {
  background-color: #073763;
}
.antidepressant {
  background-color: #783f04;
}

.safe {
  background-color: #296935;
}
.synergy {
  background-color: #31b149;
}
.decrease {
  background-color: #006cb3;
}
.caution {
  background-color: #E3D000;
}
.unsafe {
  background-color: #d98427;
}
.dangerous {
  background-color: #d12128;
}
.serotoninsyndrome {
  background-color: #684099;
}
.unknown {
  background-color: #6f6f6f;
}

#container {
  background-color: #000000;
  width: 3800px;
  height: 1600px;
}
.clear {
  clear: both;
}

header {
  display: table;
  padding-top: 1%;
  width: 98%;
  height: 15%;
  max-height: 15%;
  margin: 0 auto;
}
#logo, #legend {
  display: table-cell;
  min-width: 30%;
  width: 30%;
}
#logo img {
  max-height: 40%;
}
#title {
  display: table-cell;
  width: 40%;
  color: #FFFFFF;
  font-family: 'Kadwa';
  font-size: 6rem;
  text-align: center;
  vertical-align: middle;
}
#legend {
  vertical-align: middle;
}
#legend table {
  width: 80%;
  color: black;
  font-family: 'Ubuntu';
  font-weight: 500;
  margin-left: auto;
  text-align: center;
  table-layout: fixed;
}
#legend i {
  color: white;
}


#chart {
  height: 65%;
  width: 98%;
  margin: 0 auto;
  table-layout: fixed;
}
#chart td {
  color: #FFFFFF;
  overflow: hidden;
  text-align: center;
  font-family: 'Ubuntu';
  font-weight: 500;
}


footer {
  margin-top: 1%;
  display: table;
  width: 100%;
  max-height: 10%;
  height: 10%;
  color: #757575;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Ubuntu';
  font-weight: 500;
}
footer aside {
  display: table-cell;
  width: 10%;
  text-align: center;
}
footer aside img {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
}
footer aside h3 {
  margin: 0;
}
#disclaimer {
  display: table-cell;
  vertical-align: top;
  width: 80%;
}
