.container {
  background-color: #000000;
  padding: 10px;
  font-family: 'Open Sans', 'Univers', sans-serif;
  width: 100vw;
  height: 44vw;
  overflow: auto;
}



/* HEADER */
.header {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 20%;
}


.title {
  color: #FFFFFF;
  transform: translateY(15%);
  font-size: 2vw;
  font-weight: 600 !important; /* demi-bold */
  margin: 0 auto;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 30%;
  height: 60%;
}

.legend_card {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  font-size: 1vw;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2.5px;
}

.legend_icon {
  flex: 1 1 0;
  width: 100%;
  height: 1vw;
  margin: 10px 0;
  text-align: center;
  font-size: 1vw;
}

.legend_content {
  flex: 3 3 0;
  width: 100%;
  height: 50%;
  box-sizing: content-box;
  margin: 0 25% 0 25;
  padding: 7px 0;
  text-align: center;
  color: white;
  font-size: 1vw;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.3);
}

.fa {
  text-shadow: 0 0 3px black;
  height: 100%;
  font-size: inherit;
}

/* TABLE */
.chart {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  table-layout: fixed;
}

.chartTD {
  color: #FFFFFF;
  border-radius: 1px;
  text-align: center;
  overflow: hidden;
  font-size: 1vw;
}

.table_icon{
  height: 1vw;
}

.chartSpan{
  padding: 1px;
}

.psychedelic {
    background-color: #274e13;
  }

.dissociative {
  background-color: #20124d;
}

.stimulant {
  background-color: #660000;
}

.depressant {
  background-color: #073763;
}

.antidepressant {
  background-color: #783f04;
}

.safe {
  background-color: #35afff;
}

.synergy {
  background-color: #0a89dd;
}

.decrease {
  background-color: #006cb3;
}

.caution {
  background-color: #d5c625;
}

.unsafe {
  background-color: #d98427;
}

.dangerous {
  background-color: #d12128;
}

.unknown {
  background-color: #6f6f6f;
}


/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  color: #a9a8a8;
  font-weight: 500;
  margin-top: 15px;
}

.disclaimerH4 {
  margin: 0 0 1em 0;
  font-size: 36pt;
  font-weight: 500;
  color: #fff;
}

.disclaimer {
  text-align: justify;
  text-justify: inter-word;
  display: block;
  width: 50%;
  font-size: 0.8vw;
}

.footer b,
.footer a {
  color: #c3c3c3;
  text-decoration: none;
  font-weight: 700;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 100%; /* Full height of its parent */
  margin:5px
}

.qrImage {
  position: relative; /* Needed for Image layout="fill" */
  width: 100%; /* Full width of its parent */
  height: 100%; /* Adjust the percentage as needed */
  /* You might want to set a max-width and max-height */
}

.qrH3 {
  height: 20%;
  margin-top: 5px;
  font-size: 1.2vw;
  color: #fff;
  font-weight: 600;
  text-align: center;
}


.status {
  color: #898989;
  padding-top: 15px;
  display: inline-block;
  font-size: 1vw;
  text-align: left;
  font-weight: 500;
}

